$primary-color: #0aada5;
$bg-color: #ffffff;
$bg-body: #60acac60;
$text-main-color: rgb(0, 0, 0);
$text-secondary: #000;
$text-w: #fff;
$primary-color-hover: #60acac;
$font-Hubballi: "Hubballi", cursive;
$black-color: #000;
