@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import "variables";
@import "utilities";

/* nav bar  */
.navbar {
  background-color: $bg-color;
  border-bottom: 2px solid $primary-color;
  .container {
    padding: 10px 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a:hover {
    cursor: pointer;
  }

  .search-input {
    height: 1.4rem;
    width: 13rem;
    padding: 3px 10px;
  }
}
/* main */
/* image list */
.image-list {
  margin: 1rem 0;
  columns: 3;
  column-gap: 0px;
  row-gap: 10px;
}
.list-item {
  margin: 1px 1px;
  display: block;
  max-width: 420px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    margin: auto;
    display: block;
  }

  .overlay {
    position: absolute;
    opacity: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.192);
    &:hover {
      opacity: 1;
    }
  }
  .photo-info {
    position: absolute;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    bottom: 10px;
    right: 10px;
  }
}

/* single image */
.single-img-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  button {
    padding: 11px 23px;
    background-color: $primary-color;
    color: $text-w;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: $primary-color-hover;
    }
  }
  a {
    color: $text-secondary;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
}
.single-img {
  margin: auto;
  max-width: 90vw;
  display: block;
  margin: 2rem auto;
  padding: 6px;
  background-color: $primary-color;
}

/* footer */
.footer {
  margin-top: auto;
  background-color: $bg-color;
  border-top: 2px solid $primary-color;
  .container {
    color: $text-main-color;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 1.5rem;
    }
    .git-hub {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

// Media Query
@import "mediaquery";
